
@{
    ViewBag.Title = "CustomerDelete";
}

<h4>Müşteri Başarı ile Güncellendi..</h4>
<button type="submit" class="btn btn-primary"><a style="color:white" href="~/Home/Index">Müşteri Listesine Geri Dön..</a></button>
